{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|竞赛一览
{% endblock %}

{% block css %}
    <script src="{% static 'sources/js/jquery.eeyellow.Timeline.js' %}"></script>
    <link href="{% static 'sources/css/conteststyle.css' %}" rel="stylesheet">
    <link href="{% static 'sources/css/jquery.eeyellow.Timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block is_activate3 %}
    active
{% endblock %}

{% block content %}
    <div class="shijianzhou htmleaf-container">
        <div class="biaoti">
            <h1>竞赛</h1>
            <h4><span id="qiebiao" class="qiehuan">列表</span><span> / </span> <span id="qiezhou"
                                                                                   class="qiehuan">时间轴</span></h4>
            <div class="border"></div>
        </div>

        <div class="mianban">
            <div class="container">
                <div id="tiao">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="VivaTimeline">
                                <dl>
                                    <dt>January</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">一月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>February</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">二月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>March</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">三月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>April</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">四月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>

                                    <dt>May</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">五月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>June</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">六月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>July</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">七月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>August</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">八月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>September</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">九月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>October</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">十月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>November</dt>
                                    <dd class="pos-left clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">十一月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                    <dt>December</dt>
                                    <dd class="pos-right clearfix">
                                        <div class="circ"></div>
                                        <div class="time"></div>
                                        <div class="events">
                                            <div class="events-header">十二月竞赛</div>
                                            <div class="events-body">
                                                <div class="row">
                                                    <div class="events-desc">
                                                        <button class="btn btn-transparent dangebisai">蓝桥杯</button>
                                                        <button class="btn btn-transparent dangebisai">天梯赛</button>
                                                        <button class="btn btn-transparent dangebisai">ACM</button>
                                                        <button class="btn btn-transparent dangebisai">计算机设计大赛</button>
                                                        <button class="btn btn-transparent dangebisai">大创</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="events-footer"></div>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="biao">

                    {% for series_info in series_list %}
                        <div class="row">
                            {% for series in series_info %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="table-bordered">
                                        <img class="img-responsive myimg" src="{% static 'media/series_photo/1.jpg' %}"
                                             alt="com_logo">
                                        <div class="member">
                                            <h3>{{ series.name }}</h3>
                                            <p>{{ series.introduction }}</p>
                                            <a herf="" class="btn btn-transparent">更多详情</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.VivaTimeline').vivaTimeline({
                carousel: false,
                carouselTime: 3000
            });
        });
    </script>
{% endblock %}