{% extends 'news/base.html' %}
{% load staticfiles %}

{% block active2 %}
    active
{% endblock %}

{% block body %}
    <div class="row" style="padding:5px;margin-top: 10px;background-color: #333439;">
        <div class="col-md-3">
            <img src="img/6661.jpg" style="width: 240px;height: 150px;" class="img-responsive">
        </div>
        <div class="col-md-9">
            <div class="caption">
                <h3>[通知]标题</h3>
                <p>好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼</p>
            </div>
        </div>
    </div>

    <div class="row" style="padding:5px;margin-top: 10px;background-color: #333439;">
        <div class="col-md-3">
            <img src="img/6661.jpg" style="width: 240px;height: 150px;" class="img-responsive">
        </div>
        <div class="col-md-9">
            <div class="caption">
                <h3>[通知]标题</h3>
                <p>好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼
                    好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼好多好多好多鱼</p>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation " style="text-align: right;">
        <ul class="pagination pagination-lg">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}