{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|首页
{% endblock %}

{% block css %}
    <link href="{% static 'sources/css/indexstyle.css' %}" rel="stylesheet">
{% endblock %}

{% block is_activate1 %}
    active
{% endblock %}

{% block content %}
    <div id="fengcai">
        <div class="container">
            <div class="row">
                <div id="zhuping1">
                    <h1 class="h1s">学生风采</h1>
                    <div class="border"></div>
                    <div class="col-md-6">
                        <img src="/media/web_photo/6661.jpg" style="width: 558px;height: 372px;"
                             class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                        <h3>第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p>
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p>
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                        <!--<a href="#" class="btn btn-transparent">了解更多</a>-->
                    </div>
                </div>

                <div id="zhuping2" style="display: none;">
                    <h1 class="h1s">学生风采</h1>
                    <div class="border"></div>
                    <div class="col-md-6">
                        <img src="/media/web_photo/6661.jpg" style="width: 558px;height: 372px;"
                             class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                        <h3>第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p>
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p>
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                        <a href="#" class="btn btn-transparent">了解更多</a>
                    </div>
                </div>

                <div id="zhuping3" style="display: none;">
                    <h1 class="h1s">学生风采</h1>
                    <div class="border"></div>
                    <div class="col-md-6">
                        <img src="/media/web_photo/6661.jpg" style="width: 558px;height: 372px;"
                             class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                        <h3>第十届“蓝桥杯”全国软件和信息技术专业人才大赛</h3>
                        <p>
                            第十届“蓝桥杯”全国软件和信息技术专业人才大赛全国总决赛颁奖典礼在北京大学举行。我校信息科学技术学院派出25名选手参加比赛，最终24人获奖！
                            其中，JAVA 软件开发大学B组获得二等奖1项、三等奖1项，C/C++程序设计大学B组获得二等奖7项、三等奖4项、优秀奖11项。
                        </p>
                        <p>
                            本届大赛由工业和信息化部主办,共有来自全国31个省、市、自治区1200 多所高校的6万余名选手报名参加个人赛的角逐。
                            我校信息科学技术学院共有145名学生报名参赛，经过省赛筛选后，25名学生进入国赛总决赛。
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <p style="text-align: center;line-height: 75px;font-size: 18px;" id="sandian">
                    <span id="zhu1" class="tcolor">○</span>
                    <span id="zhu2">○</span>
                    <span id="zhu3">○</span>
                </p>
            </div>
        </div>
    </div>

    <div id="msg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <span class="dabiaoti">获奖新闻</span>
                    <hr class="hrs">

                    {% if top_new %}
                        <div class="col-sm-6 col-md-4 shoutiaoweizhi">
                            <div class="thumbnail shoutiaoneirong">
                                <img src="/media/{{ top_new.new_photo }}" alt="...">
                                <div class="caption shoutiaoneirong">
                                    <h3><a href="/news/news_detail?p={{ top_new.pk }}">{{ top_new.title }}</a></h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% for new in news_list %}
                        <div class="yitiao">
                            <span><a href="/news/news_detail?p={{ new.pk }}">{{ new.title }}</a></span><span
                                class="riqi"> {{ new.created_time }}</span>
                        </div>
                        {% empty %}
                        <h3>暂无更多新闻</h3>
                    {% endfor %}

                    <div class="yitiao">
                        <span class="riqi"><a href="/news/news_list/"> 更多>></a></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <span class="dabiaoti">通知公告</span>
                    <hr class="hrs">
                    {% for inform in informs_list %}
                        <div class="yitiao">
                            <span><a href="/news/informs_detail?p={{ inform.pk }}">{{ inform.title }}</a></span><span
                                class="riqi">{{ inform.create_time }}</span>
                        </div>
                        {% empty %}
                        <h3>暂无更多公告</h3>
                    {% endfor %}
                    <div class="yitiao">
                        <span class="riqi"><a href="/news/informs_list/">更多>></a></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="height: 50px;"></div>
            </div>
        </div>
    </div>

    <div id="jingsai">
        <div class="container">
            <div id="jinxingzhong">
                <h1 class="h1s">比赛进行中</h1>
                <div class="border"></div>
                <div class="row">
                    {% for show_com in show_com_list %}
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="/media/{{ show_com.series_id.photo }}"
                                     alt="logo">
                                <div class="member">
                                    <h3>{{ show_com.com_name }}</h3>
                                    <p>{{ show_com.series_id.introduction }}</p>
                                    <a class="btn btn-transparent"
                                       href="/competition/com_detail?com_id={{ show_com.com_id }}">更多详情</a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <h4>暂无进行中比赛</h4>
                    {% endfor %}
                </div>
            </div>
            <div class="zuihouanniu">
                <a class="btn btn-transparent quanbubisai" href="/competition/com_list/">更多比赛</a>
            </div>

            <!--
                <div id="remen">
                    <h1 class="h1s">热门比赛</h1>
                    <div class="border"></div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="img/acm.jpg" alt="acm">
                                <div class="member">
                                    <h3>ACM程序设计竞赛</h3>
                                    <p>ACM大学生程序设计竞赛是由国际计算机协会主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。</p>
                                    <a class="btn btn-transparent">更多详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="img/acm.jpg" alt="acm">
                                <div class="member">
                                    <h3>ACM程序设计竞赛</h3>
                                    <p>ACM大学生程序设计竞赛是由国际计算机协会主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。</p>
                                    <a class="btn btn-transparent">更多详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="img/acm.jpg" alt="acm">
                                <div class="member">
                                    <h3>ACM程序设计竞赛</h3>
                                    <p>ACM大学生程序设计竞赛是由国际计算机协会主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。</p>
                                    <a class="btn btn-transparent">更多详情</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="table-bordered">
                                <img class="img-responsive myimg" src="img/acm.jpg" alt="acm">
                                <div class="member">
                                    <h3>ACM程序设计竞赛</h3>
                                    <p>ACM大学生程序设计竞赛是由国际计算机协会主办的，一项旨在展示大学生创新能力、团队精神和在压力下编写程序、分析和解决问题能力的年度竞赛。</p>
                                    <a class="btn btn-transparent">更多详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="zuihouanniu">
                <a class="btn btn-transparent quanbubisai" href="contest.html">查看所有比赛</a>
            </div>
            -->
        </div>
    </div>
{% endblock %}


