{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|首页
{% endblock %}

{% block css %}
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.eeyellow.Timeline.js' %}"></script>
{% endblock %}

{% block is_activate1 %}
    active
{% endblock %}

{% block content %}
    <div style="margin:auto;width: 80%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="" alt="..." style="height: 550px;">
                                <div class="carousel-caption">
                                    <h3></h3>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- 新闻 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="height: 40px;overflow: auto;">
                            <h3 class="panel-title">竞赛新闻</h3>
                        </div>
                        <div class="panel-body" style="height: 510px;overflow: auto;padding:5% 5% 0 5%;">
                            假装这里有新闻
                            <hr>
                            <p style="text-align: right;">查看更多新闻>></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 常用 -->
            <hr style="width: 100%;"/>
            <h3 style="text-align: center;">最热、最常用比赛</h3>
            <h4 style="text-align: center;color: #888888;">老练的参赛者们都关注了下面这些比赛</h4>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" style="padding: 5% 5% 0 5%;height: 340px;overflow: auto;">
                        <img src="" alt="..." style="width: 354px;height: 60px;">
                        <div class="caption" style="">
                            <h3>ACM</h3>
                            <p>ACM brings together computing educators, researchers, and professionals to inspire
                                dialogue, share resources, and address the field's challenges. As the world’s largest
                                computing society, ACM strengthens the profession's collective voice through strong
                                leadership, promotion of the highest standards, and recognition of technical
                                excellence. </p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                               class="btn btn-default"
                                                                                               role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" style="padding: 5% 5% 0 5%;height: 340px;overflow: auto;">
                        <img src="" alt="..." style="width: 354px;height: 60px;">
                        <div class="caption" style="">
                            <h3>ACM</h3>
                            <p>ACM brings together computing educators, researchers, and professionals to inspire
                                dialogue, share resources, and address the field's challenges. As the world’s largest
                                computing society, ACM strengthens the profession's collective voice through strong
                                leadership, promotion of the highest standards, and recognition of technical
                                excellence. </p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                               class="btn btn-default"
                                                                                               role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" style="padding: 5% 5% 0 5%;height: 340px;overflow: auto;">
                        <img src="" alt="..." style="width: 354px;height: 60px;">
                        <div class="caption" style="">
                            <h3>ACM</h3>
                            <p>ACM brings together computing educators, researchers, and professionals to inspire
                                dialogue, share resources, and address the field's challenges. As the world’s largest
                                computing society, ACM strengthens the profession's collective voice through strong
                                leadership, promotion of the highest standards, and recognition of technical
                                excellence. </p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                               class="btn btn-default"
                                                                                               role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail" style="padding: 5% 5% 0 5%;height: 340px;overflow: auto;">
                        <img src="" alt="..." style="width: 354px;height: 60px;">
                        <div class="caption" style="">
                            <h3>ACM</h3>
                            <p>ACM brings together computing educators, researchers, and professionals to inspire
                                dialogue, share resources, and address the field's challenges. As the world’s largest
                                computing society, ACM strengthens the profession's collective voice through strong
                                leadership, promotion of the highest standards, and recognition of technical
                                excellence. </p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                               class="btn btn-default"
                                                                                               role="button">Button</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


