{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|竞赛报名
{% endblock %}

{% block css %}
    <link href="{% static 'sources/css/baomingStyle.css' %}" rel="stylesheet">
{% endblock %}


{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <form class="navbar-form dist" action="/competition/com_apply_first/?id={{ com_info.com_id }}"
          method="POST">
        {% csrf_token %}
        <div id="baoming_content">
            <div class="container">
                <h1>{{ com_info.com_name }}报名</h1>
                <hr>

                <div id="jibenxinxi">
                    <h3>基本信息</h3>
                    {% for num in stu_num %}
                        {% if num == 1 %}
                            <div class="form-group">
                                学生姓名：<input type="text" class="form-control" autocomplete="on" name="seach"
                                          readonly="readonly" value="{{ request.session. }}">
                            </div>
                        {% else %}
                            <div class="form-group">
                                学生姓名：<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                            name="seach">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="tuozhanxinxi">
                    <h3 style="display: block;">拓展信息</h3>
                    {% for tea in tea_num %}
                        <div class="form-group">
                            指导教师姓名:<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                          name="seach">
                        </div>
                    {% endfor %}
                </div>

                <div id="xiaozuxinxi">
                    <h3>小组信息</h3>

                    <div class="form-group">
                        组别:
                        <select name="group" class="form-control" style="width:50%">
                            {% for group in group_list %}
                                <option value="{{ group.sort_name }}">
                                    {{ group.sort_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    {% if info_list.group_name == 1 %}
                        <div class="form-group">
                            小组名称:<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                        name="seach">
                        </div>
                    {% endif %}

                    {% if info_list.product_name == 1 %}
                        <div class="form-group">
                            作品名称:<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                        name="seach">
                        </div>
                    {% endif %}

                    {% if info_list.else_info == 1 %}
                        <div class="form-group">
                            备注:<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                      name="seach">
                        </div>
                    {% endif %}

                </div>
            </div>
            <div id="zuihouanniu">
                <a class="btn btn-transparent quanbubisai" href="baoming2.html">下一步</a>
            </div>
        </div>
    </form>
{% endblock %}