{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|竞赛报名
{% endblock %}

{% block css %}
    <link href="{% static 'sources/css/baomingStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block is_activate5 %}
    active
{% endblock %}

{% block content %}
    <div id="baoming_content">
        <div class="container">

            <form class="navbar-form dist" action="/competition/com_apply_first/?id={{ com_info.com_id }}"
                  method="POST">
                {% csrf_token %}

                <h1>{{ com_info.com_name }}报名</h1>
                <hr>

                <div id="jibenxinxi">
                    <h3>学生信息</h3>
                    {% for num in stu_num %}
                        {% if num == 1 %}
                            <div class="form-group">
                                学生姓名：<input type="text" class="form-control" placeholder="查询" autocomplete="on"
                                            name="stu_name{{ num }}" value="{{ leader.stu_name }}">
                            </div>
                        {% else %}
                            <div class="form-group">
                                学生姓名：<input type="text" class="form-control" data-toggle="modal" data-target="#myModal"
                                            placeholder="查询" autocomplete="on" name="stu_name{{ num }}"
                                            readonly="readonly" style="background-color: rgb(47,56,61)">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div id="tuozhanxinxi">
                    <h3 style="display: block;">指导教师信息</h3>
                    {% for tea in tea_num %}
                        <div class="form-group">
                            指导教师姓名:<input type="text" class="form-control" autocomplete="on" name="tea_name{{ tea }}">
                        </div>
                    {% endfor %}
                </div>

                <div id="xiaozuxinxi">
                    <h3>小组信息</h3>

                    {% if info_list.com_group %}
                        <div class="form-group">
                            组别:
                            <select name="group" class="form-control" style="width:200px;">
                                {% for group in group_list %}
                                    <option value="{{ group.sort_name }}">
                                        {{ group.sort_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {% if info_list.group_name == 1 %}
                        <div class="form-group">
                            小组名称:<input type="text" class="form-control" autocomplete="on" name="group_name">
                        </div>
                    {% endif %}

                    {% if info_list.product_name == 1 %}
                        <div class="form-group">
                            作品名称:<input type="text" class="form-control" autocomplete="on" name="product_name">
                        </div>
                    {% endif %}

                    {% if info_list.else_info == 1 %}
                        <div class="form-group">
                            备注:<input type="text" class="form-control" autocomplete="on" name="else_info">
                        </div>
                    {% endif %}

                </div>
                <div id="zuihouanniu">
                    <button type="submit" class="apply_button">下一步</button>
                </div>

            </form>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: #2B2C30;border: none;">

                        <div class="modal-header" style="border-bottom: #666666 solid 1px;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">选择队员</h4>
                        </div>
                        <div class="modal-body">
                            <p style="display: inline-block;">查找队员请输入队员全名: </p>
                            <div id="chaxunduiyou" style="display: inline-block;">
                                <input id="mate_name" type="text" class="form-control" placeholder="查询"
                                       style="width:65%;display: inline-block;">
                                <button id="mate_button" class="tijiaoanniu" style="margin-left: 10px;width: 25%"
                                        value="查找" onclick="search_name()">查找
                                </button>
                            </div>
                            <div id="chaxunjieguo">
                                <table id="mate_list" class="table">

                                </table>
                            </div>
                        </div>

                        <script>

                            function search_name() {
                                var name = $("#mate_name").val();
                                var url = "/competition/select_mate_first?name=" + name;
                                $.ajax({
                                    type: 'get',
                                    url: url,
                                    data: {},
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data["mate_list"].length>0) {

                                            var mate_list = data["mate_list"];
                                            var myHtml = "<tr><td>学号</td><td>姓名</td><td>班级</td><td>操作</td></tr>";
                                            for (var i = 0; i < mate_list.length; i++) {

                                                var tmp = mate_list[i];
                                                var pk = tmp.pk;
                                                alert(pk)
                                                var name = tmp.fields.stu_name;
                                                var num = tmp.fields.stu_num;
                                                var sClass = tmp.fields.grade + tmp.fields.major + tmp.fields.stu_class;
                                                myHtml += "<tr><td>" + pk + "</td><td>" + name + "</td><td>" + sClass + "</td><td><button class=\"tijiaoanniu\" style=\"height:80%;width:80%\">选择</button></td></tr>";


                                            }

                                            $("#mate_list").html(myHtml);


                                        }else{
                                            $("#mate_list").empty();
                                            alert("别爱我，没结果");
                                        }


                                    },
                                    error: function (error) {
                                        alert('error');
                                    }
                                })
                            }

                        </script>

                        <div class="modal-footer" style="border-top: #666666 solid 1px;">
                            <a class="btn btn-transparent" data-dismiss="modal">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}