{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block content %}
    <div id="gerenzhongxin_content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/media/{{ stu_info.photo }}" alt="暂无头像"
                                 style="width: 63px;height: 63px;border: 2px solid white;border-radius: 20px;">
                        </div>
                        <p class="xingming">{{ stu_info.stu_name }}</p>
                        <p class="banji">{{ stu_info.department.depart_name }}{{ stu_info.major.major_name }}
                            {{ stu_info.grade.grade_name }}{{ stu_info.stu_class.class_name }}</p>
                        <p style="margin-top: 0;font-size: 10px;">
                            <a href="">修改密码</a>
                            |
                            <a href="/logout/">登出</a>
                        </p>
                    </div>

                    <div class="list-group" id="gongnenglan">
                        <a href="#" class="list-group-item {% block is_activate1 %}{% endblock %}">
                            <span class="glyphicon glyphicon-home"></span>我的报名
                        </a>
                    </div>
                </div>

                <div class="col-md-9">
                    {% block body %}

                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

