{% extends 'student/personal_center/base.html' %}
{% load staticfiles %}

{% block per_activate5 %}
    active
{% endblock %}

{% block body %}
    <div class="panel panel-default" style="border: none;" id="caozuomianban">
        <div class="panel-heading"
             style="background-color: #333439;color: white;border: none;height: 50px;padding-top: 15px;">
            <h3 class="panel-title">参赛历史</h3>
        </div>
        <div class="panel-body" style="background-color: #2B2C30;">

            <!--
            <table id="cansailishi" class="table" style="border-bottom: 1px solid white;">
                <tr>
                    <td>竞赛名称</td>
                    <td>比赛时间</td>
                    <td>指导老师</td>
                    <td>获奖情况</td>
                </tr>
                <tr>
                    <td>第10届蓝桥杯校内选拔赛</td>
                    <td>2018-11-15</td>
                    <td>XXX</td>
                    <td>一等奖</td>
                </tr>
                <tr>
                    <td>第9届蓝桥杯校内选拔赛</td>
                    <td>2018-11-15</td>
                    <td>XXX</td>
                    <td>二等奖</td>
                </tr>
                <tr>
                    <td>第8届蓝桥杯校内选拔赛</td>
                    <td>2018-11-15</td>
                    <td>XXX</td>
                    <td>优秀奖</td>
                </tr>
            </table>
            -->

        </div>
    </div>
{% endblock %}