{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block css %}
    <link href="{% static 'sources/css/baomingStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="navbar-form dist">
        <div id="baoming_content2">
            <div class="container">
                <h1>{{ com_info.com_name }}报名</h1>
                <hr>

                {% for stu in stu_list %}
                    <div id="jibenxinxi">
                        <h3>学生信息({{ forloop.counter }})</h3>
                        <div class="form-group">
                            {% if info_list.stu_num %}
                                学号：<input type="text" class="form-control" autocomplete="on"
                                          name="stu_num{{ forloop.counter }}" value="{{ stu.stu_id.stu_number }}" 
                                          readonly="readonly"> 
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.stu_name %}
                                姓名：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.stu_name }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.ID_number %}
                                身份证号：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                            value="{{ stu.stu_id.ID_number }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.sex %}
                                性别：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.sex }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.depart %}
                                院系：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.department.depart_name }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.major %}
                                专业：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.major.major_name }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.grade %}
                                年级：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.grade.grade_name }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.stu_class %}
                                班级：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.stu_class.class_name }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.email %}
                                邮件：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                          value="{{ stu.stu_id.email }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.phone_num %}
                                联系方式：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                            value="{{ stu.stu_id.phone_number }}">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {% if info_list.bank_number %}
                                银行卡号：<input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                            value="{{ stu.stu_id.bank_number }}">
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}


                {% if info_list.tea_num %}
                    <div id="tuozhanxinxi">
                        <h3 style="display: block;">指导教师信息</h3>
                        {% for teach in teach_list %}
                            <div class="form-group">
                                指导教师({{ forloop.counter }})：
                                <input type="text" class="form-control" autocomplete="on" readonly="readonly"
                                       value="{{ teach.teach_id.tea_name }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}


                <div id="xiaozuxinxi">
                    <h3>小组信息</h3>

                    {% if info_list.group_name %}
                        <div class="form-group">
                            小组名称：<input type="text" class="form-control" autocomplete="on" name="group_name"
                                        readonly="readonly" value="{{ group_info.group_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.com_group %}
                        <div class="form-group">
                            组别：
                            <input type="text" class="form-control" autocomplete="on" name="group_name"
                                   readonly="readonly" value="{{ group_info.com_group.sort_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.product_name %}
                        <div class="form-group">
                            作品名称：<input type="text" class="form-control" autocomplete="on" name="product_name"
                                        readonly="readonly" value="{{ group_info.product_name }}">
                        </div>
                    {% endif %}

                    {% if info_list.else_info %}
                        <div class="form-group">
                            备注：<input type="text" class="form-control" autocomplete="on" name="else_info"
                                      readonly="readonly" value="{{ group_info.else_info }}">
                        </div>
                    {% endif %}

                </div>
                {% if change_flag == 1 %}
                    <div id="zuihouanniu">
                        <a href="/teacher/confirm_apply?p1={{ group_info.com_id.com_id }}&p2={{ group_info.group_id }}"
                           class="glyphicon glyphicon-ok btn btn-transparent"></a>
                        <a href="/teacher/reject_apply?p1={{ group_info.com_id.com_id }}&p2={{ group_info.group_id }}"
                           class="glyphicon glyphicon-remove btn btn-transparent"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}