{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|指导教师
{% endblock %}

{% block css %}
    <link href="{% static 'sources/css/gerenzhongxinStyle.css' %}" rel="stylesheet">
    <link href="{% static 'sources/css/baomingStyle.css' %}" rel="stylesheet">
    <script src="{% static 'sources/js/gerenzhongxinJS.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="gerenzhongxin_content">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/media/{{ teach_info.photo }}" alt="..."
                                 style="width: 63px;height: 63px;border: 2px solid white;border-radius: 20px;">
                        </div>
                        <p class="xingming">{{ teach_info.tea_name }}</p>
                        <p class="banji">{{ teach_info.department.depart_name }}</p>
                        <p style="margin-top: 0;font-size: 10px;">修改密码 | 登出</p>
                    </div>
                    <div class="list-group" id="gongnenglan">
                        <a href="/teacher/personal_center_teach_info"
                           class="list-group-item {% block is_active1 %}{% endblock %}">
                            <span class="glyphicon glyphicon-home"></span>个人中心
                        </a>
                        <a href="/teacher/personal_center_teach_apply"
                           class="list-group-item {% block is_active2 %}{% endblock %}">
                            <span class="glyphicon glyphicon-comment"></span>指导申请
                            {% if apply_number > 0 %}
                                <span class="badge pull-right">{{ apply_number }}</span>
                            {% endif %}
                        </a>
                        <a href="/teacher/personal_center_teach_team"
                           class="list-group-item {% block is_active3 %}{% endblock %}">
                            <span class="glyphicon glyphicon-user"></span>参赛小组
                        </a>
                        <a href="/teacher/personal_center_teach_experience"
                           class="list-group-item {% block is_active4 %}{% endblock %}">
                            <span class="glyphicon glyphicon-time"></span>参赛经历
                        </a>
                        <a href="/teacher/personal_center_teach_award"
                           class="list-group-item {% block is_active5 %}{% endblock %}">
                            <span class="glyphicon glyphicon-education"></span>获奖结果
                        </a>
                        <a href="/teacher/personal_center_teach_record"
                           class="list-group-item {% block is_active6 %}{% endblock %}">
                            <span class="glyphicon glyphicon-list"></span>指导记录
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
