{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|指导教师
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>指导教师</h4>
                    </div>
                    <div class="list-group">
                        <a href="/teacher/personal_center_teach/" class="list-group-item {% block active1 %}{% endblock %}">
                            参赛小组
                        </a>
                        <a href="#" class="list-group-item {% block active2 %}{% endblock %}">
                            参赛经历
                        </a>
                        <a href="#" class="list-group-item {% block active3 %}{% endblock %}">
                            获奖结果
                        </a>
                        <a href="#" class="list-group-item {% block active4 %}{% endblock %}">
                            指导记录
                        </a>
                        <a href="#" class="list-group-item {% block active5 %}{% endblock %}">
                            个人信息
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
