{% extends 'teacher/personal_center/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block is_active2 %}
    active
{% endblock %}

{% block body %}
    <div class="panel panel-default" style="border: none;" id="caozuomianban">
        <div class="panel-heading"
             style="background-color: #333439;color: white;border: none;height: 50px;padding-top: 15px;">
            <h3 class="panel-title">待确定申请</h3>
        </div>

        <div class="panel-body" style="background-color: #2B2C30;">
            {% for leader,apply in confirm_apply %}
                <div class="geren1">
                    <p>{{ apply.com_id.com_name }}</p>
                    <span>发起者：{{ leader.stu_id.stu_name }}</span><br>
                    <span>报名时间：{{ apply.group_id.apply_time }}</span>
                    <span class="fun-btn pull-right">
                        <a href="/teacher/confirm_apply?p1={{ apply.com_id.com_id }}&p2={{ apply.group_id.group_id }}"
                           class="glyphicon glyphicon-ok btn btn-transparent"></a>
                        <a href="/teacher/reject_apply?p1={{ apply.com_id.com_id }}&p2={{ apply.group_id.group_id }}"
                           class="glyphicon glyphicon-remove btn btn-transparent"></a>
                         <a href="/teacher/teach_apply_deatil?p1={{ apply.com_id.com_id }}&p2={{ apply.group_id.group_id }}&p3=0"
                            class="btn btn-transparent">详情</a>
                    </span>
                </div>
            {% endfor %}
        </div>

    </div>
    <div class="bgc2" style="height: 128px;"></div>
{% endblock %}