{% extends 'teacher/personal_center/base.html' %}
{% load staticfiles %}

{% block per_activate2 %}
    active
{% endblock %}

{% block body %}
    <div class="panel panel-default" style="border: none;" id="caozuomianban">
        <div class="panel-heading"
             style="background-color: #333439;color: white;border: none;height: 50px;padding-top: 15px;">
            <h3 class="panel-title">我的消息</h3>
        </div>
        <div class="panel-body" style="background-color: #2B2C30;">
            <div class="col-md-4">

                {% for imform in page_of_informs.object_list %}
                    <div class="recent-msg">
                        <a href="/teacher/personal_center_teach_message?p={{ imform.pk }}&page={{ page_of_informs.number }}">
                            <h4>{{ imform.title }}<span class="pull-right xiaoxiriqi">{{ imform.create_time }}</span>
                            </h4>
                            <h6>{{ imform.content|truncatechars:30 }}</h6>
                        </a>
                    </div>
                    {% empty %}
                    <h4>暂无消息</h4>
                {% endfor %}

                <div class>
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_informs.has_previous %}
                                <a href="?page={{ page_of_informs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {% for page_num in page_range %}
                            {% if page_num ==  page_of_informs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一页 #}
                        <li>
                            {% if page_of_informs.has_next %}
                                <a href="?page={{ page_of_informs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_informs.paginator.count }}篇通知 ,
                        当前第{{ page_of_informs.number }}页，共{{ page_of_informs.paginator.num_pages }}页
                    </p>
                </div>

            </div>
            <div class="col-md-8">
                {% if inform_flag == 1 %}
                    <div class="panel panel-default" style="border: none;background-color: #333439;">
                        <div class="panel-heading"
                             style="background-color: #333439;color:white;border-bottom: 1px solid #666;">
                            <h3 class="panel-title" style="text-align: center;">{{ inform.title }}</h3>
                        </div>
                        <div class="panel-body" style="background-color: #333439;color:white;">
                            {{ inform.content }}
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default" style="border: none;background-color: #333439;">
                        <div class="panel-heading"
                             style="background-color: #333439;color:white;border-bottom: 1px solid #666;">
                            <h3 class="panel-title" style="text-align: center;">暂无通知</h3>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block need_style %}
    <div style="height: 100px;"></div>
{% endblock %}