{% extends 'teacher/personal_center/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block is_active6 %}
    active
{% endblock %}

{% block body %}
    <div class="panel panel-default" style="border: none; background-color: #2B2C30;" id="caozuomianban">
        <div class="panel-heading"
             style="background-color: #333439;color: white;border: none;height: 50px;padding-top: 15px;">
            <h3 class="panel-title">个人赛</h3>
        </div>
        <div class="panel-body" style="background-color: #2B2C30;">
        </div>
    </div>
{% endblock %}