{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|时间轴
{% endblock %}

{% block css %}
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.eeyellow.Timeline.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>各类比赛时间 <span>参赛者们可不要错过参赛时间</span></h1>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="VivaTimeline">
						<dl>
	                        <dt>January</dt>
	                        <dd class="pos-left clearfix">
	                            <div class="circ"></div>
	                            <div class="time"></div>
	                            <div class="events">
	                                <div class="events-header">一月竞赛</div>
	                                <div class="events-body">
	                                   <div class="row">
	                                       <div class="events-desc">
											   <p>蓝桥</p>
											   <p>ACM</p>
	                                       </div>
	                                   </div>
	                                </div>
	                                <div class="events-footer"></div>
	                            </div>
	                        </dd>
							<dt>February</dt>
							<dd class="pos-right clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">二月竞赛</div>
							        <div class="events-body">
							            <div class="row">
							                <div class="events-desc">
											    <p>蓝桥</p>
												<p>天梯</p>
							                </div>
							            </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
	                        <dt>March</dt>
	                        <dd class="pos-left clearfix">
	                            <div class="circ"></div>
	                            <div class="time"></div>
	                            <div class="events">
	                                <div class="events-header">三月竞赛</div>
	                                <div class="events-body">
	                                   <div class="row">
	                                       <div class="events-desc">
											   <p>蓝桥</p>
											   <p>ACM</p>
	                                       </div>
	                                   </div>
	                                </div>
	                                <div class="events-footer"></div>
	                            </div>
	                        </dd>
							<dt>April</dt>
							<dd class="pos-right clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">四月竞赛</div>
							        <div class="events-body">
							            <div class="row">
							                <div class="events-desc">
											    <p>蓝桥</p>
												<p>天梯</p>
							                </div>
							            </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>

	                        <dt>May</dt>
	                        <dd class="pos-left clearfix">
	                            <div class="circ"></div>
	                            <div class="time"></div>
	                            <div class="events">
	                                <div class="events-header">五月竞赛</div>
	                                <div class="events-body">
	                                   <div class="row">
	                                       <div class="events-desc">
	                        				   <p>蓝桥</p>
	                        				   <p>ACM</p>
	                                       </div>
	                                   </div>
	                                </div>
	                                <div class="events-footer"></div>
	                            </div>
	                        </dd>
	                        <dt>June</dt>
	                        <dd class="pos-right clearfix">
	                            <div class="circ"></div>
	                            <div class="time"></div>
	                            <div class="events">
	                                <div class="events-header">六月竞赛</div>
	                                <div class="events-body">
	                                    <div class="row">
	                                        <div class="events-desc">
											    <p>蓝桥</p>
	                        					<p>天梯</p>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="events-footer"></div>
	                            </div>
	                        </dd>
							<dt>July</dt>
							<dd class="pos-left clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">七月竞赛</div>
							        <div class="events-body">
							           <div class="row">
							               <div class="events-desc">
											   <p>蓝桥</p>
											   <p>ACM</p>
							               </div>
							           </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
							<dt>August</dt>
							<dd class="pos-right clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">八月竞赛</div>
							        <div class="events-body">
							            <div class="row">
							                <div class="events-desc">
											    <p>蓝桥</p>
												<p>天梯</p>
							                </div>
							            </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
							<dt>September</dt>
							<dd class="pos-left clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">九月竞赛</div>
							        <div class="events-body">
							           <div class="row">
							               <div class="events-desc">
											   <p>蓝桥</p>
											   <p>ACM</p>
							               </div>
							           </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
							<dt>October</dt>
							<dd class="pos-right clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">十月竞赛</div>
							        <div class="events-body">
							            <div class="row">
							                <div class="events-desc">
											    <p>蓝桥</p>
												<p>天梯</p>
							                </div>
							            </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
							<dt>November</dt>
							<dd class="pos-left clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">十一月竞赛</div>
							        <div class="events-body">
							           <div class="row">
							               <div class="events-desc">
											   <p>蓝桥</p>
											   <p>ACM</p>
							               </div>
							           </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
							<dt>December</dt>
							<dd class="pos-right clearfix">
							    <div class="circ"></div>
							    <div class="time"></div>
							    <div class="events">
							        <div class="events-header">十二月竞赛</div>
							        <div class="events-body">
							            <div class="row">
							                <div class="events-desc">
											    <p>蓝桥</p>
												<p>天梯</p>
							                </div>
							            </div>
							        </div>
							        <div class="events-footer"></div>
							    </div>
							</dd>
	                    </dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="http://libs.useso.com/js/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.VivaTimeline').vivaTimeline({
				carousel: false,
				carouselTime: 3000
			});
		});
	</script>
{% endblock %}