{% extends 'member/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block member_active6 %}
    com-xuanzhong
{% endblock %}

{% block body %}
    <div id="fabu-jingsai" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">增加竞赛</h3>
        </div>

        <div class="panel-body">
            <form action="/member/add_com/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <span>竞赛名称：<input type="text" class="form-control" name="series_name"
                                  style="width: 6%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/></span>
                <span>简介：<input type="text" class="form-control" name="series_intro"
                                style="width: 6%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/></span>
                <span>竞赛LOGO：<input type="file" class="form-control" name="series_logo"
                                    style="width: 6%;display: inline-block;font-size: 20px;margin: 4px;border: 1px solid #666666;"/></span>
                <span>类型：
                    <select name="series_type">
                    <option value="0">个人赛</option>
                    <option value="1">团体赛</option>
                </select></span>
            </form>
        </div>
    </div>
{% endblock %}