{% extends 'member/base.html' %}
{% load staticfiles %}

{% block title %}
    学科竞赛|个人中心
{% endblock %}

{% block body %}
    <div class="panel panel-default" style="border: none;" id="caozuomianban">
        <div class="panel-heading"
             style="background-color: #333439;color: white;border: none;height: 50px;padding-top: 15px;">
            <h3 class="panel-title">参赛信息修改申请</h3>
        </div>
        <div class="panel-body" style="background-color: #2B2C30;">
            {% for temp_group,temp_stu,pre_stu,temp_teach,pre_teach,com_need in temp_group_list %}
                <div class="geren1">
                    <span>类型：{{ temp_group.get_apply_type_display }}</span><br>
                    <span>提交时间：{{ temp_group.created_time }}</span>
                    <span class="fun-btn pull-right">
                        <a class="btn btn-transparent" data-toggle="modal"
                           data-target="#{{ temp_group.temp_id }}">详情</a>
                        <a href="/member/apply_application_agree?p1=0&p2={{ temp_group.pk }}"
                           class="glyphicon glyphicon-ok btn btn-transparent"></a>
                        <a href="/member/apply_application_disagree?p1=0&p2={{ temp_group.pk }}"
                           class="glyphicon glyphicon-remove btn btn-transparent"></a>
                    </span>
                </div>

                <style>
                    .motaikuang .modal-content {
                        background-color: #2B2C30;
                    }

                    .motaikuang h5 {
                        line-height: 20px;
                        letter-spacing: 0.5px;
                        font-family: 宋体;

                    }
                </style>

                <div class="modal fade motaikuang" id="{{ temp_group.temp_id }}" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel_1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">修改详情</h4>
                            </div>
                            <div class="modal-body">
                                <span>
                                    参赛成员：
                                    {% for stu in pre_stu %}
                                        {{ stu.stu_id.stu_name }}
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-arrow-right"
                                          aria-hidden="true"></span>
                                    {% for stu in temp_stu %}
                                        {{ stu.stu_id.stu_name }}
                                    {% endfor %}
                                </span>
                                <br>
                                <span>
                                    指导教师:
                                    {% for teach in pre_teach %}
                                        {{ teach.teach_id.tea_name }}
                                    {% endfor %}
                                    <span class="glyphicon glyphicon-arrow-right"
                                          aria-hidden="true"></span>
                                    {% for teach in temp_teach %}
                                        {{ teach.teach_id.tea_name }}
                                    {% endfor %}
                                </span>
                                <br>
                                {% if com_need.com_group == 1 %}
                                    <span>组别：{{ temp_group.group_id.com_group.sort_name }}<span
                                            class="glyphicon glyphicon-arrow-right"
                                            aria-hidden="true"></span>{{ temp_group.com_group.sort_name }}</span><br>
                                {% endif %}
                                {% if com_need.group_name == 1 %}
                                    <span>小组名称：{{ temp_group.group_id.group_name }}<span
                                            class="glyphicon glyphicon-arrow-right"
                                            aria-hidden="true"></span>{{ temp_group.group_name }}</span><br>
                                {% endif %}
                                {% if com_need.product_name == 1 %}
                                    <span>组别：{{ temp_group.group_id.product_name }}<span
                                            class="glyphicon glyphicon-arrow-right"
                                            aria-hidden="true"></span>{{ temp_group.product_name }}</span><br>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-transparent" data-dismiss="modal">关闭</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <h4>暂无更多申请</h4>
            {% endfor %}
        </div>
    </div>
{% endblock %}