.shijianzhou {
	width: 100%;
	height: 100%;
	background-color: #2B2C30;
	color: white;
	padding-top: 64px;
}

.biaoti {
	text-align: center;
}

.dangebisai {
	border-radius: 0;
	color: white;
	border: 1px solid #6CB670;
	margin-top: 5px;
	background-color: transparent;
}

.qiehuan{
	cursor: pointer;
	
}

.qiehuan:hover{
	color: #6CB670;
}

#tiao{
	display: none;
}

.mianban{
	margin-bottom: 30px;
}

#biao .row{
	margin-top: 30px;
}



/*/**/
