
#newsboard{
	padding-top: 128px;
	background-color: #2B2C30;
	color: white;
	padding-bottom: 30px;
}

.caption p{
	color:#DCDCDC
}

.caption h3{
	color: white;
}

#xwzs{
	padding-top: 128px;
	color: white;
	padding-bottom: 32px;
}

#xwzs h5{
	margin: 50px auto;
	letter-spacing:1.25px;
}

#xwzs h2{
	letter-spacing:1.5px;
}

#xwzs ol{
	background-color: #2B2C30;
	margin: 0;
}

#xwzs hr{
	margin-left: 0;
}

.xinxilaiyuan{
	margin-left: 20px;
	color: #888888;
}

.qitabiaoti{
	height: 48px;border: 1px solid #6CB670;
}

.zhengwen{
	border: solid 1px #4D585E;
	padding: 10px;
}

.zhengwen p{
	letter-spacing:1.25px;
	font-size: 16px;
	margin-top: 25px;
	line-height: 25px;
	text-indent: 2em;
	font-family: 宋体;
}

#qitaneirong{
	margin-top: 64px;
}

.newsmember{
	width: 100%;height: 69px;border: none;margin-top: 10px;
}

.dateblock{
	width: 64px;height: 100%;border: 1px solid #666666;float: left;padding: 5px;
}

.dateday{
	text-align: right;font-size:28px;margin-bottom: 0;
}

.qitajianju{
	height: 100%;width: 20px;float: left;border: none;
}

.titleblock{
	height: 100%;border-bottom: 1px solid #666666;
	padding-top: 10px;
}

.newsmember:hover{
	background-color: #333439;
	cursor: pointer;
}

#rukou{
	margin-top: 50px;
}

.qitarukou{
	width: 100%;margin-top: 10px;border-bottom: dashed #6CB670 1px;padding: 10px;
}

#rukouanniu{
	margin-top: 10px;
}
#rukouanniu a{
	margin-right: 10px;
	background-color: #2E373C;
	margin-top: 10px;
	border: 1px solid #2E373C;
}

#rukouanniu a:hover{
	border: 1px solid #6CB670;
	
}

#tushuojingsai h4{
	margin-bottom: 0;
	font-family: 黑体;
	letter-spacing: 1px;
}


.iconblock{
	border:1px solid #6cb670;
	border-radius:50%;
	color:#6cb670;
	display:inline-block;
	padding-top: 16px;
	padding-left: 11px;
	width: 100px;
	height: 100px;
	font-size: 64px
}

#hjxw{
	text-align: center;
	letter-spacing: 4px;
	margin-bottom: 50px;
}

.yigexinwen{
	background-color: transparent;border: 1px solid #4D585E;width: 100%;
}

.yigexinwen img{
	width: 466px;height: 320px;
}

.yigexinwen h3{
	letter-spacing: 1px;
	font-family: 微软雅黑;
	margin-bottom: 20px;
}

.yigexinwen p{
	letter-spacing: 1px;
	font-family: 宋体;
	line-height: 20px;
	margin-bottom: 20px;
}

.yigexinwen span{
	padding-right: 10px;
	margin-right: 10px;
	border-right: 1px solid #4D585E;
}

.yigexinwen a{
	margin-bottom: 20px;
}

.yigexinwen i{
	margin-right: 5px;
}

#chaxinwen:hover{
	background-color: #2B2C30;
	color: #6CB670;
}

#xinwenpang h3{
	margin-bottom: 20px;
}



